
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>
<div class="navbar-collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Add new Catrhory", "AddGategory", "CategoryView")</li>
        <li>@Html.ActionLink("Show All Categories", "ShowCategory", "CategoryView")</li>
    </ul>
</div>
