
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>
<div >
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Add New Product", "AddProduct")</li>
        <li>@Html.ActionLink("Show All Product", "ShowProduct")</li>


    </ul>
</div>
