
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>
<div >
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Add new Seller", "AddSeller", "SellerView")</li>
        <li>@Html.ActionLink("Show All Seller", "Show", "SellerView")</li>
    </ul>
</div>
